services:
  smart-home-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      - ENV=production
  smart-home-db:
    image: postgres:14.19-trixie
    ports:
      - "5432:5432"
    env_file:
      - .env
